* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Set the merge strategy for specific scripts to 'ours'
prod-scripts/install_dependencies.sh merge=ours
prod-scripts/validate_services.sh merge=ours
prod-scripts/start_server.sh merge=ours

appspec.yml merge=ours

# Set the merge strategy for the GitHub Actions deploy script to 'ours'
.github/workflows/staging_ec2_deploy.yml merge=ours